@import 'variables';

@import 'components/list';
@import 'components/list-filter';
@import 'components/page';
@import 'components/img';
@import 'components/input';
@import 'components/logo';
@import 'components/player';
@import 'components/content';

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
}


