$middle-width: 40rem;

.content{

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: lightseagreen;
    min-height: 100vh;
    padding-bottom: $gutter-md;
    transition: width 2s;


    @media (min-width: $breakpoint-sm) {
        margin-left: 30%;
        width: 70%;
    }

    &__title{
        margin: $gutter-md;
        color: white;
        text-shadow: 1px 1px black;
        // background: blue;
        text-align: center;
        // mix-blend-mode: difference;
        z-index: 99;
        &--turquoise{
            color: turquoise;
            font-weight: bolder;
        }
    }

    &__video{

        width: 100%;
        height: 400px;
        margin: 0 auto;

        @media (min-width: $breakpoint-sm) {
            width: 71rem;
            height: 700px;
        }

    }

    &__banner{
        // margin: 0 $gutter-md $gutter-md $gutter-md;
        // width: calc( 100% - 2 * #{$gutter-md} );
        @media (min-width: $breakpoint-sm) {
            // margin: 0;
            position: absolute;
            top: 0;
            right: 0;
            // width: 50%;
        }
    }

    &__audio{
        margin: 0 auto  $gutter-md  auto;
        width: 35rem;
        // mix-blend-mode: multiply;
    }

    &__song_bg{

    }

    &__song{

        white-space: pre;
        text-shadow: 1px 1px black;
        font-size: $font-size-md;
        display: flex;
        width: 100%;
        z-index: 99;
        position: relative;

        @media (min-width: $breakpoint-sm) {
            margin: 0  $gutter-md  $gutter-md  $gutter-md;
            width: $middle-width;
        }

        &--middle{
            margin: $gutter-md auto;
        }

        &__bg{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            mix-blend-mode: difference;
            background: turquoise;
            color: white;
            mix-blend-mode: exclusion;
        }

        &__text{
            // border: $gutter-md solid turquoise;
            margin: 0 0 8rem;
            border: 1px solid white;
            mix-blend-mode: none;
            background: rgba(255,255,255,0.7);
            z-index: 99;

            // height: 900px;
        }


    }

}