$middle-width: 40rem;

.content{

    position: relative;
    display: flex;
    flex-direction: column;
    width: 76vw;
    margin-left: 24vw;
    background: antiquewhite;
    height: auto;
    padding-bottom: $gutter-md;
    transition: width 2s;

    &__title{
        margin: $gutter-md;
        color: white;
        text-shadow: 1px 1px black;
        // background: blue;
        text-align: center;
        // mix-blend-mode: difference;
        z-index: 999;
        &--turquoise{
            color: turquoise;
            font-weight: bolder;
        }
    }

    &__video{
        width: 71rem;
        height: 700px;
        margin: 0 auto;
    }

    &__banner{
        // margin: 0 $gutter-md $gutter-md $gutter-md;
        // width: calc( 100% - 2 * #{$gutter-md} );
        @media (min-width: $breakpoint-sm) {
            // margin: 0;
            position: absolute;
            top: 0;
            right: 0;
            // width: 50%;
        }
    }

    &__audio{
        margin: 0 auto  $gutter-md  auto;
        width: 35rem;
        // mix-blend-mode: multiply;
    }

    &__song_bg{

    }

    &__song{

        margin: $gutter-md  $gutter-md  $gutter-md  $gutter-md;
        white-space: pre;
        text-shadow: 1px 1px black;
        font-size: $font-size-md;
        display: flex;
        width: $middle-width;
        z-index: 99;
        position: relative;

        &--middle{
            margin: $gutter-md auto;
        }

        &__bg{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            mix-blend-mode: difference;
            background: turquoise;
            color: white;
            mix-blend-mode: exclusion;
        }

        &__text{
            // border: $gutter-md solid turquoise;
            margin: 0 0 8rem;
            border: 1px solid white;
            mix-blend-mode: none;
            background: rgba(255,255,255,0.7);
            z-index: 99;
            isolation: isolate;
            height: 900px;
        }


    }

}