.logo{

    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    background-color: none !important;

    img {
        width: 100%;
    }

    @media (min-width: $breakpoint-sm) {
        img {
            width: 800px;
        }
    }

}