.logo{

    margin: 0 auto $gutter-md;
    font-size: $font-size-lg;

    @media (min-width: $breakpoint-sm) {
        margin: 0 auto;
        position: absolute;
        top: $gutter-md;
        left: $gutter-md;
    }

    h1,h2,h3{
        margin: 0;
    }
}