.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bijzonder{
        padding: 1rem;
        background-color: $yellow;
        color: rgb(136, 36, 0);
        font-weight: bolder;
        font-size: 2rem;
        margin-top: 2rem;
        border: 2px solid black;
        @media (min-width: $breakpoint-sm) {
            margin-top: 0rem;
        }
      }
      &__title{
        margin-bottom: 2rem;
        font-weight: bolder;
      }
      &__paragraph-highlighted{
        margin-top: 0;
        margin-bottom: 1rem;
        background: rgba(255,255,255,.5);
        padding: 1rem;
        
          @media (min-width: $breakpoint-sm) {
            background: rgba(255,255,255,1);
            // margin-left: -0.5rem;
            padding: 0.5rem;
          }
      }
}

.page-content{

  width: 100%;
  margin: 0 auto;

  // @media (min-width: $breakpoint-sm) {
  //   width: 800;
  // }

  // @media (min-width: $breakpoint-md) {
  //   width: 1400px;
  // }

  @media (min-width: $breakpoint-lg) {
    width: 1400px;
  }
}
