.player{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(0 255 0) 0%, rgba(0,0,0,0.0) 100%);
    z-index: 999;
    padding: 4rem 0 .5rem;
    width: 100%;
    
    audio{
        width: 100%;
    }

    @media (min-width: $breakpoint-sm) {
        
    }
}